[data-controls] {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40vh;
    width: 100vw;
    z-index: 10;
}
[data-controls] nav {
    overflow: hidden;
    display: flex;
    width: max-content;
    position: absolute;
    background-color: var(--pop);
    border-radius: 2rem;
    left: 100%;
    top: 100%;
    transform: translate(-50%, -50%) scale(2);
    transform-origin: center;
    min-width: 4em;
    min-height: 4em;
    transition:
        border-radius var(--speed-fast) 0 ease-out,
        top var(--speed-fast),
        left var(--speed-fast),
        transform var(--speed-fast);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.125);
    border: 0.0125em solid var(--alpha-dark);
}
[data-controls] ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0 0.5em;
}
[data-controls] li {
    transition: all var(--speed-base) ease-out;
    list-style: none;
    width: 0em;
    display: flex;
    justify-content: center;
    padding: 0.125em 0;
}
[data-controls] button {
    opacity: 0;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: mistyrose;
    overflow: hidden;
    transition:
        padding 0.1s ease,
        all var(--speed-fast) ease-out;
    transform: translate(0%, -100%) scale(0.15);
    border: none;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

[data-controls]:has(button:focus-within),
[data-controls]:hover,
[data-controls][data-mobile] {
    nav {
        backdrop-filter: blur(0.5em);
        background-color: rgba(0, 0, 0, 0.3);
        left: 50%;
        top: 50%;
        border-radius: 1rem;
        transform: translate(-50%, 0em) scale(1);
        transition:
            border-radius var(--speed-base) var(--speed-slow) ease-in,
            top var(--speed-fast),
            left var(--speed-fast),
            transform var(--speed-fast);
    }
    li {
        transition:
            transform var(--speed-base) var(--speed-fast) ease-in,
            opacity var(--speed-base) var(--speed-fast) ease-in,
            width var(--speed-base) var(--speed-fast) ease-in;
        width: 3em;
        transform: translate(0, 0%);
    }
    button {
        transform: translate(0%, 0%) scale(1);
        opacity: 1;
        border-radius: 1em;
        transition:
            border-radius var(--speed-base) var(--speed-slow) ease-in,
            transform var(--speed-base) var(--speed-base) ease-in,
            opacity var(--speed-base) var(--speed-base) ease-in,
            background-color var(--speed-fast) ease-in;
    }
    [data-controls-icon] {
        position-anchor: none;
        visibility: hidden;
    }
}

[data-controls-icon] {
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.5);
    border: 0.125em solid var(--white);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-controls] li:hover > [data-bounce="padding"] {
    animation: paddingBounce var(--speed-fast) ease;
}

[data-controls] button[aria-pressed="false"] {
    &[data-action="call"] {
        background-color: var(--green);
    }
}
[data-controls] button[aria-pressed="true"] {
    &[data-action="call"] {
        background-color: var(--red);
    }
    &[data-action="video"],
    &[data-action="mic"] {
        background-color: var(--alpha-dark);
    }
}

[data-icon-selector] {
    display: grid;
    overflow: hidden;
}

[data-icon-selector] span {
    grid-area: 1 / 1;
    transition: translate var(--speed-fast) ease;
    display: flex;
}

[data-icon-selector][data-active="true"] span:first-child {
    translate: 0 0;
}

[data-icon-selector][data-active="true"] span:last-child {
    translate: 0 100%;
}

[data-icon-selector][data-active="false"] span:first-child {
    translate: 0 -100%;
}

[data-icon-selector][data-active="false"] span:last-child {
    translate: 0 0;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 2em);
    opacity: 0;
    background-color: var(--black);
    padding: 0.25em 0.75em;
    color: var(--white);
    font-family: monospace;
    width: max-content;
    height: min-content;
    font-size: 0.75em;
    border-radius: 0.25rem;
}

[data-tooltip]:hover::after {
    opacity: 1;
}
