dialog {
    transition:
        scale 0.2s ease-in-out,
        translate 0.4s ease-in-out,
        opacity 0.4s ease-in-out,
        display 0.4s allow-discrete,
        overlay 0.4s allow-discrete;
    backdrop-filter: blur(1em);
    border: 0.0125em solid var(--alpha-dark);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 1em 2em;
    background: var(--alpha-dark);
    color: var(--white);

    opacity: 0;
    translate: 0 100%;
    scale: 0.25;
    z-index: 100;
}

dialog[open] {
    opacity: 1;
    translate: 0 0;
    scale: 1;
    display: grid;
    place-content: center;

    @starting-style {
        opacity: 0;
        scale: 0.25;
        translate: 0 100%;
    }
}
dialog header {
    font-family: monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

dialog button {
    cursor: pointer;
    background-color: var(--alpha-dark);
    border: none;
    border-radius: 50%;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: rotate var(--speed-base) ease-in-out;
    &:hover {
        rotate: 180deg;
    }
}
