@import "./root.css";
@import "./keyframes.css";
@import "./controls.css";
@import "./dialog.css";
@import "./settings.css";

html,
body {
    height: 100vh;
    font-size: 18px;
}

body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;

    background: url("../assets/woman-fullsize.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}

button {
    font-size: inherit;
}

ul,
li {
    list-style: none;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
}
