[data-bounce="padding"] {
    padding: calc(1em / 3 * 2);
}

@keyframes paddingBounce {
    0%,
    100% {
        padding: calc(1em / 3 * 2);
    }
    25% {
        padding: calc(1.2em / 3 * 2);
    }
    50% {
        padding: calc(1em / 3 * 2);
    }
    75% {
        padding: calc(1.1em / 3 * 2);
    }
}
