html,
body {
  height: 100vh;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;

  background: url(/woman-fullsize.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}

#root {
  margin-bottom: 24px;
}
